body{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    
}


#calculadora{
    font-family: arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 30px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    background-color: hsl(0, 0%, 30%);
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;

}

#teclas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.simbolos{
    background-color: #F77E2D;
}

.simbolos:hover{
     background-color: hsl(24, 93%, 67%);
}

.simbolos:active{
     background-color: hsl(24, 93%, 77%);
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}